[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/korpz/Autoclose-vim.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/snippetsemu"]
	path = bundle/snippetsemu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "bundle/vim-task"]
	path = bundle/vim-task
	url = https://github.com/samsonw/vim-task.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
