[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/korpz/Autoclose-vim.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/snippetsemu"]
	path = bundle/snippetsemu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "bundle/vim-task"]
	path = bundle/vim-task
	url = https://github.com/samsonw/vim-task.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
